name: Discord Notification

on:
  push:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send commit to Discord
        run: |
          echo "$"
          curl -H "Content-Type: application/json" \
          -d "{\"content\":\"New commit pushed to ${{ github.ref_name }} by ${{ github.actor }}\"}" \
          ${{ secrets.DISCORD_FRONT_HOOK }}
